﻿@{
/*ViewBag.Title = "Home Page"; */
}
<!--


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->

@{
    ViewBag.Title = ViewBag.EncryptedSharedSecret;
}

<div id="reg-container">
    <!-- the reg v6 module UI will be rendered into this element -->
</div>

<script>
    (function () {

        var container = document.getElementById('reg-container');

        var configObj = {
            environment: 'stage', // or 'stage' for testing
            moduleKey: '2783353f-0fbb-46e4-9f37-44c59dde1e33', // from the module admin tool
            showLogin: true,
            myAccountUrl: '/path/to/myaccount.html', // required, if you are implementing my account v6
            onAuth: function (authUser, callback) {
                // cookie authUser properties, or post them back to your server via AJAX
                // then fire callback to notify the reg v6 module that your auth routine has finished
                // for example:
                $.ajax('/authenticate/user', {
                    type: 'POST',
                    data: authUser,
                    success: callback
                });
            },
            onExit: function (authUser) {
                // your redirect logic goes here
                // NOTE: if you already used onAuth to authenticate the user
                // then you don't need to do anything with authUser here
                window.location = '/path/to/logged-in-user-content.html';
            }
        };

        function initReg() {
            // initialize the reg v6 module
            var regModule = KSTL.Registration.init(container, configObj);

            // subscribe to module event notifications
            var eventViewRender = regModule.bind('view:render', function (topic, view) {
                console.log('regv6 view:render', view.name, view.element);
                // if you wish to unsubscribe
                // regModule.unbind(eventViewRender);
            });

            var eventFormSubmit = regModule.bind('form:submit', function (topic, form) {
                console.log('regv6 form:submit', form.name);
                // if you wish to unsubscribe
                // regModule.unbind(eventViewRender);
            });
        }

        // async script loader... do not modify
        (function () {
            var src, kreg, s;

            if (configObj.environment === 'stage') {
                src = 'https://stage.registration.kglobalservices.com/scripts/registration.min.js';
            } else {
                src = 'https://registration.kglobalservices.com/scripts/registration.min.js';
            }

            kreg = document.createElement('script');
            kreg.type = 'text/javascript';
            kreg.onload = kreg.onreadystatechange = function () {
                if (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete') {
                    kreg.onload = kreg.onreadystatechange = null;
                    initReg();
                }
            };
            kreg.src = src;
            s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(kreg, s);
        })();

    })();
</script>

